{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


{% compress css %}
<link type="text/css" rel="stylesheet" href="{% static 'foundation/css/foundation.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'foundation-icons/foundation-icons.css' %}" >
<link type="text/css" rel="stylesheet" href="{% static 'foundation/css/normalize.css' %}">

{% endcompress %}


<title>ResearchNet</title>

<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <a href="/">
          <img src="{% static 'research-35.png' %}">
          researchnet
        </a>
      </h1>
    </li> 
  </ul>        
</nav>

{% block head %}
{% endblock %}

</head>

<body>

{% block content %}
{% endblock %}
   
            
{% compress js %}
  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'foundation/js/foundation.min.js' %}"></script>
  <script src="{% static 'foundation/js/vendor/modernizr.js' %}"></script>
{% endcompress %}

<!-- Footer -->
<footer class="footer">
  <div class="row full-width">

    <div class="medium-8 columns left">
      <div>
      &copy; RTI International 2018</p>
      </div>
    </div>

    <div class="medium-4 columns">
      <ul class="inline-list">
          <li>
          <p>
              <i class="fi-book"></i> 
              <a class="footer-menu" href="https://ictatrti.github.io/researchnet/">Documentation</a>
          </p>
          </li>
          <li>
              <p>
                <i class="fi-torsos"></i>
                <a class="footer-menu" href="https://github.com/ICTatRTI/researchnet.git">Project</a>
              </p> 
          </li>
        </ul>
    </div>
  </div>
</footer>
       

<script>
  $(document).foundation();
</script>

{% block javascript %}
{% endblock %}


</body>
</html>