
{% extends "plain.html" %}
{% load staticfiles %}


{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>

{% endblock %}

{% block content %}


<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns top-margin">

    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}

      <div class="row column log-in-form">
        
        <div id="logintitle">
          <img src="{% static 'research-32.png' %}" class="left">
          <h4>Welcome to Researchnet</h4>
        </div>

        <label>Username
          {{ form.username }}
        </label>
        <label>Password
          {{ form.username }}

        </label>
        <input id="show-password" type="checkbox"><label for="show-password">Show password</label>
        <p>
          <a type="submit" class="button expanded">Log In</a>
          <input type="hidden" name="next" value="{{ next }}" />
         </p>

        <p class="text-center"><a href="/forgot">Forgot your password?</a></p>   
      </div>
    </form>

  </div>
</div>
            

{% endblock %}

