
{% extends "base.html" %}
{% load staticfiles %}


{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>

{% endblock %}

{% block content %}


   <div class="row">

    <div class="large-6 large-centered columns" id="login">

      {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
      {% endif %}

      <div class="signup-panel" >
        <p class="welcome"> </p>
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
        {% csrf_token %}
          <div class="row collapse">
            <div class="small-2  columns">
              <span class="prefix"><i class="fi-torso-female"></i></span>
            </div>
            <div class="small-10  columns">

            {{ form.username }}
            </div>
          </div>

          <div class="row collapse">
            <div class="small-2 columns ">
              <span class="prefix"><i class="fi-lock"></i></span>
            </div>
            <div class="small-10 columns ">
              {{ form.password }}
            </div>
          </div>

           <input type="submit" class="button" value="Login" >
           <input type="hidden" name="next" value="{{ next }}" />
        </form>
        
      </div>
    </div>
   </div>
            

{% endblock %}

