
{% extends "plain.html" %}
{% load staticfiles %}


{% block head %}

<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>

{% endblock %}

{% block content %}


<div class="row">
  <div class="large-4 large-centered columns top-margin">

  <div id="errorblock">
    {% if form.errors %}
    <div data-alert class="alert-box info radius">
      
      {% for field in form %}
        {% for error in field.errors %}
          {{ error|escape }}
        {% endfor %}
      {% endfor %}

      {% for error in form.non_field_errors %}
        {{ error|escape }}
      {% endfor %}

      <a href="#" class="close">&times;</a>
    </div>
    {% endif %}
  </div>
    <form method="post" action="/accounts/login/">
        {% csrf_token %}

      <div class="row column log-in-form">
        
        <div id="logintitle">
          <span>Sign in</span>
        </div>

        <label>Username</label>
        {{ form.username }}
        
        <label>Password</label>
        {{ form.password }} 
       
        <p>
          <input type="submit" class="button small" value="Login" >
          <input type="hidden" name="next" value="{{ next }}" />
         </p>

         
      </div>
    </form>

  </div>
</div>
            

{% endblock %}

