table {
	table-layout: fixed;
	width: 100%;
}

img[alt="research"] { 
    float:right; 
    margin:0 -2px; 
    padding:1px; 
    border:0px;
}

.navbar-default {
	background-color: #333333;
}

.navbar-brand {
	font-size: 28px;
}



