{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dcjs/dc.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}"/>

{% endblock %}

{% block content %}


  <div class="row" >
    <div class="main_display">
        <div class="large-6 columns">
          <div id="chart-hist-spend"></div>
        </div>
        <div class="large-6 columns">
          <div id="chart-ring-year"></div>
        </div>
    </div>
  </div>


  <div class="row main_table">

      <div class="export_link right">
        <i class="fi-download"></i> <a href="/export_submissions">Download</a>
      </div>
      
      <table width="100%" class="hover">
      <thead>
        <tr>
          <th width="200">Date</th>
          <th>Device ID</th>
          <th width="350">Username</th>
          <th>Location</th>
        </tr>
      </thead>
      <tbody>
        {% for submission in submission_list %}
        <tr>
          <td>{{ submission.timestamp }}</td>
          <td>{{ submission.device_id }}</td>
          <td>{{ submission.user.username }}</td>
          <td>Not Available</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
       
           
{% endblock %}

{% block javascript %}

  <script src="{% static 'd3/d3.min.js' %}"></script>
  <script src="{% static 'crossfilter/crossfilter.js' %}"></script>
  <script src="{% static 'dcjs/dc.js' %}"></script>

  <script type="text/javascript">

var yearRingChart   = dc.pieChart("#chart-ring-year"),
    spendHistChart  = dc.barChart("#chart-hist-spend"),
    spenderRowChart = dc.rowChart("#chart-row-spenders");

// use static or load via d3.csv("spendData.csv", function(error, spendData) {/* do stuff */});
var spendData = [
    {Name: 'Mr A', Spent: '$40', Year: 2011},
    {Name: 'Mr B', Spent: '$10', Year: 2011},
    {Name: 'Mr C', Spent: '$40', Year: 2011},
    {Name: 'Mr A', Spent: '$70', Year: 2012},
    {Name: 'Mr B', Spent: '$20', Year: 2012},
    {Name: 'Mr B', Spent: '$50', Year: 2013},
    {Name: 'Mr C', Spent: '$30', Year: 2013}
];

// normalize/parse data
spendData.forEach(function(d) {
    d.Spent = d.Spent.match(/\d+/);
});

// set crossfilter
var ndx = crossfilter(spendData),
    yearDim  = ndx.dimension(function(d) {return +d.Year;}),
    spendDim = ndx.dimension(function(d) {return Math.floor(d.Spent/10);}),
    nameDim  = ndx.dimension(function(d) {return d.Name;}),
    spendPerYear = yearDim.group().reduceSum(function(d) {return +d.Spent;}),
    spendPerName = nameDim.group().reduceSum(function(d) {return +d.Spent;}),
    spendHist    = spendDim.group().reduceCount();

yearRingChart
    .width(300).height(300)
    .dimension(yearDim)
    .group(spendPerYear)
    .innerRadius(50);

spendHistChart
    .width(500).height(300)
    .dimension(spendDim)
    .group(spendHist)
    .x(d3.scale.linear().domain([0,10]))
    .elasticY(true);

spendHistChart.xAxis().tickFormat(function(d) {return d*10}); // convert back to base unit
spendHistChart.yAxis().ticks(2);

spenderRowChart
    .width(350).height(200)
    .dimension(nameDim)
    .group(spendPerName)
    .elasticX(true);

dc.renderAll();

</script>


{% endblock %}
