{% extends "base.html" %}
{% load static %}
{% load compress %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dcjs/dc.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}"/>

{% endblock %}

{% block content %}


<!-- Display error message line (only visible if there is an caught error) -->
<div class="row" >
    <div id="messageLine" class="col-sm-12">
    </div>
</div>

  
<!--Display filter and record count, reset, refresh and download buttons -->
<div class="row" style="margin-top:25px; margin-bottom:35px">
    

    <div style="text-align: right">
        <div class="dc-data-count" style="margin-top:0px;">
            <p>
            <span class='filter-count'></span>
            selected out of
            <span class='total-count'></span>
            records. 
            
            <i class="fi-refresh"></i>
            <a href="#"  onclick="javascript: dc.filterAll(); dc.renderAll();">Reset Filter</a> 
            </p> 
            
        </div>
    </div>
</div>  


<!-- Display users by STATE on US map -->
<div class="row">
    
</div>

<div class="row">
  <div class="medium-4 columns">
  <div id="dc-gender-chart" class="VisualSection" =>
        <h4>Users by Gender</h4>
        <div class="VisualizationFilter">
            <span class="filter"></span>
        </div>    
    </div>
  </div>
  
  <div class="medium-8 columns">
    <div id="dc-us-chart" class="VisualSection">
        <h4>Geographic Distribution</h4>
        <div class="VisualizationFilter">
            <span class="filter"></span>
        </div>    
    </div>
  </div>

</div>



<!-- Display usage by MONTH and top USERS by usage  -->
<div class="row">
    <div class="medium-12 columns">
    <div class="VisualSection" id="dc-sub-chart">
        <h4>Submission by Date</h4>
        <div class="VisualizationFilter">
            <span class="filter"></span>
        </div>    
    </div>
    </div>
</div>


<!-- Display submissions Data TABLE -->
<div class="row">
    <div class="medium-12 columns">
        <table class="table table-hover" id="dc-table-graph" >
            <thead>
                <tr class="header">
                    <th>Date</th>
                    <th>Device ID</th>
                    <th>Location</th>
                    <th>Map</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="paging">
    Showing <span id="begin"></span>-<span id="end"></span> of <span id="size"></span>.
    <a  id="last" class="button info tiny" onclick="javascript:last()">Last</a>
    <a  id="next" class="button info tiny" onclick="javascript:next()">Next</a>

  </div>
</div>





 <div class="row main_table">
      <div class="export_link">
        <i class="fi-download"></i> <a href="/export_submissions">Download all records as a CSV</a>
      </div>
  </div>

           
{% endblock %}

{% block javascript %}


{% compress js %}

  <script src="{% static 'd3/d3.min.js' %}"></script>
  <script src="{% static 'crossfilter2/crossfilter.js' %}"></script>
  <script src="{% static 'dcjs/dc.js' %}"></script>

  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'file-saver/FileSaver.min.js' %}"></script>
  <script src="{% static 'blockUI/jquery.blockUI.js' %}"></script>
  <script src="{% static 'moment/moment.js' %}"></script>

 <script type='text/javascript' > 
  var token = '{{request.user.auth_token.key }}';
 </script>
 <script src="{% static 'dashboard.js' %}"></script>

{% endcompress %}

{% endblock %}
