{% extends "base.html" %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'dcjs/dc.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'dashboard.css' %}"/>

<link rel="stylesheet" type="text/css" href="{% static 'datatables/media/css/dataTables.foundation.min.css' %}"/>

{% endblock %}

{% block content %}

  <div class="row" >
    <div class="main_display">
        <div class="large-6 columns">
          	<img src="https://placehold.it/350x350">
        </div>
        <div class="large-6 columns">
          <img src="https://placehold.it/350x350">
        </div>
    </div>
  </div>


  <div class="row main_table">
      
      <table id="participants" class="display" cellspacing="0" width="100%">
      
      <thead>
        <tr>
          <th>Enrollment Date</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Gender</th>
          <th>Date of Birth</th>
        </tr>
      </thead>
      <tbody>
        {% for participant in participant_list %}
        <tr>
          <td>{{ participant.user.date_joined }}</td>
          <td>{{ participant.user.first_name }}</td>
          <td>{{ participant.user.last_name }}</td>
          <td>{{ participant.gender }}</td>
          <td>{{ participant.dob }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
       
  <div class="row main_table">
      <div class="export_link">
        <i class="fi-download"></i> <a href="/export_submissions">Download this as a CSV</a>
      </div>
  </div>        

{% endblock %}

{% block javascript %}

  <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'datatables/media/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'datatables/media/js/dataTables.foundation.min.js' %}"></script>

  <script type="text/javascript">


  $(document).ready(function() {
    
    $('#participants').DataTable(
      { searching: false,

      }
      );
  

  } );

  </script>


{% endblock %}
