


#errorblock {
	height: 100px;
}

.top-margin {
  margin-top: 15px;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px;
  background-color: #F0F4F5;
}

input[type="text"] {
    width: 300px;
}

#logintitle {

  height: 55px;
  font-weight: bold;
  font-size: 30px;
}

.glowing-border {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

