
footer p, .footer-menu {
  font-size: 10pt;
}



.top-margin {
  margin-top: 70px;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px;
}

input[type="text"] {
    width: 300px;
}

#logintitle {
  text-align: center;
  height: 55px;
}


