
footer  {
  font-size: 10pt;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px; /* choose any height */
}

footer p, .footer-menu {
  font-size: 10pt;
}

#errorblock {
	height: 100px;
}

.top-margin {
  margin-top: 15px;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px;
  background-color: #F0F4F5;
}

input[type="text"] {
    width: 300px;
}

#logintitle {

  height: 55px;
  font-weight: bold;
  font-size: 30px;
}

.error input, .error select {
    border: 2px red solid;
}

